langchain
langchain-core
langchain-community
langchain-openai
langchain-mistralai

chromadb
langchain-chroma

tiktoken

python-dotenv

pypdf
python-docx

requests

streamlit

fastapi
uvicorn

beautifulsoup4